<!DOCTYPE html>
<html>
<head>
  <title>TechReviewSite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="thumbnail" content="http://wcdn2.dataknet.com/static/resources/icons/set34/d3838a3c.png" />
<!--   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
</head>
<body>

<%= yield %>

</body>
</html>
